@import './base.css';

#app {}

.ant-select-dropdown .ant-select-item-option-content:hover {
    text-overflow: inherit;
}

.custom-dialogue {
    .ant-btn-primary {
        color: #333;
    }

    .ant-btn-default:not(:disabled):hover,
    .ant-btn-default:not(:disabled):active {
        color: #333;
    }

    .ant-btn-primary:not(:disabled):hover,
    .ant-btn-primary:not(:disabled):active {
        color: #333;
    }
}